/* Login form */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
}

.loginForm {
  width: 50%;
  margin-top: 50px;
  display: grid;
  grid-template: 25px 25px 25px 25px / minmax(65px, 20%) auto;
  align-items: center;
}

.loginForm-userEmail, .loginForm-password {
  width: 98%;
  border: solid 1px gray;
  background-color: black;
}

.loginForm-panel {
  justify-self: flex-end;
}

/* table portrait to 960 */
@media only screen and (max-width: 959px) {}

/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
  .loginForm {
    width: 60%;
  }
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px) {
  .loginForm {
    width: 80%;
  }
}